body{
    height: 100vh;
    background-color: #00334a;
    background-image: linear-gradient(to right, #00334a 45%, #ffffff00),
                        url('./inscricao_background.png');
    background-repeat: no-repeat;
    background-position: right;
}

.text1{
    color: var(--cinza-claro, #DFDFDF);
    font-size: 65px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.text2{
    color: rgba(255, 255, 255, 0.30);
    text-align: center;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    height: 45px;;
}

.line{
    width: 751px;
    height: 2px;
    background: rgba(255, 255, 255, 0.30);
}

.button1{
    width: 307px;
    height: 83px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #00AFFF;
    color: var(--branco, #FAFAFA);
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.button2{
    position: relative;
    width: 583px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 7px;
    border: 3px solid #FAFAFA;
    background: rgba(223, 223, 223, 0.47);
    color: #FFF;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    overflow: hidden;
}

.vector1{
    position: absolute;
    top: 50%;
    width: 69px;
    height: 100px;
    right: 0;
    transform: translate(0, -50%);
    background-color: white;
}

.vector2{
    position: absolute;
    width: 50%;
    height: 100%;
    right: 25%;
}